<head>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <style>
        .card-tournament-info {
            border: none !important;
            border-radius: 0.7rem !important;
        }
        
        .card-tournament {
            border-radius: 0.7rem !important;
        }
    </style>
</head>

<section class="d-block d-lg-flex h-100">
    <div class="w-100 ww-lg-75">

        <!-- ANCHOR Card Liga -->

        <div class="d-flex tournament-card-container">
            <div class="card-item w-100">
                <div class="d-flex flex-column ms-3 card-tournament">
                    <!-- ANCHOR Card Info Liga -->
                    <div class="card-tournament-info">
                        <div class="d-block d-md-flex">
                            <div class="d-flex flex-column flex-md-row w-100">
                                <div class="d-flex w-100">
                                    <img src="../../assets/te-logo-liga.png" class="img-35 d-md-none" alt="">
                                    <img src="../../assets/te-logo-liga.png" class="img-100 d-none d-md-block" alt="">
                                    <div class="d-md-none d-flex text-center flex-column justify-content-center w-100">
                                        <!-- Tags -->
                                        <div class="d-flex justify-content-center">
                                            <span class="badge abg-cripto">Cripto</span>
                                            <span class="badge mx-2 abg-future" style="color: white">Futuros</span>
                                            <span class="badge abg-actives">Ações</span>
                                        </div>
                                        <!-- Titulo -->
                                        <div class="h-100 d-flex justify-content-center align-items-center">
                                            <h6>Arena Trader Evolution</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center w-100 mt-3">
                                    <div class="w-100 d-flex flex-column justify-content-center justify-content-md-start align-items-center">
                                        <h2>Arena Trader Evolution</h2>
                                        <p>A Arena oficial da plataforma TraderEvolution</p>
                                        <p>@traderevolution</p>
                                    </div>

                                </div>
                            </div>

                            <!-- ANCHOR Flex Valor/Botões -->
                            <div class="d-flex justify-content-around d-md-none">
                                <button class="btn-arena-12black with-icon arena-border rounded-3 mx-3 py-1 w-50">Seguir
                  <i class="material-icons ms-2">person_add</i> </button>
                                <button class="btn-arena-12black arena-border rounded-3 w-50 mx-1 py-1">Solicitar
                  convite</button>
                            </div>
                            <!-- ANCHOR Botões PC -->
                            <div class="align-items-center pt-3 d-none d-md-flex flex-column ww-35 align-self-end">
                                <button class="btn-arena-12black with-icon arena-border w-75 rounded-7 py-1">Seguir <i
                    class="material-icons ms-2">person_add</i> </button>
                                <button class="btn-arena-12black arena-border rounded-7 w-75 my-2 py-1">Solicitar
                  convite</button>
                            </div>
                        </div>
                        <div class="d-flex ww-25 justify-content-center ms-auto w-100 mt-3 d-none d-md-flex">
                            <span class="badge mx-1 abg-cripto">Cripto</span>
                            <span class="badge mx-1 abg-future" style="color: white">Futuros</span>
                            <span class="badge mx-1 abg-actives">Ações</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-3">
            <ul class="nav nav-tabs" style="flex-wrap: unset;" id="myTab" role="tablist">
                <li (click)="currentTab = 0" class="nav-item w-100" role="presentation">
                    <button [ngClass]="{'active arena-orange-gradient-text fw-bold' : currentTab === 0}" class="w-100 background-none nav-link text-size-l fw-bold active arena-orange-gradient-text" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
                        aria-controls="home" aria-selected="true">Torneios</button>
                </li>
                <li (click)="currentTab = 1" class="nav-item w-100" role="presentation">
                    <button [ngClass]="{'active arena-orange-gradient-text fw-bold' : currentTab === 1}" class="d-lg-none w-100 background-none nav-link text-size-l" id="ranking-tab" data-bs-toggle="tab" data-bs-target="#ranking" type="button" role="tab" aria-controls="ranking"
                        aria-selected="false">Ranking</button>
                    <button [ngClass]="{'active arena-orange-gradient-text fw-bold' : currentTab === 1}" class="d-none d-lg-block w-100 background-none nav-link text-size-l" id="ranking-tab" data-bs-toggle="tab" data-bs-target="#ranking" type="button" role="tab" aria-controls="ranking"
                        aria-selected="false">Equipes</button>
                </li>

                <li (click)="currentTab = 2" class="nav-item w-100" role="presentation">
                    <button [ngClass]="{'active arena-orange-gradient-text fw-bold' : currentTab === 2}" class="d-none d-lg-block w-100 background-none nav-link text-size-l" id="learn-tab" data-bs-toggle="tab" data-bs-target="#learn" type="button" role="tab" aria-controls="learn"
                        aria-selected="false">Aprenda</button>
                    <button [ngClass]="{'active arena-orange-gradient-text fw-bold' : currentTab === 2}" class="d-lg-none w-100 background-none nav-link text-size-l" id="learn-tab" data-bs-toggle="tab" data-bs-target="#learn" type="button" role="tab" aria-controls="learn"
                        aria-selected="false">Mais</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- Tab torneios -->
                <div [ngClass]="{'active show' : currentTab === 0}" class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="rounded-3 arena-border p-2" style="border-top: 0 !important; height: 70vh;">
                        <!-- PC -->
                        <div>
                            <div class="d-none d-lg-flex">
                                <div class="w-100">
                                    <div class="d-flex mb-3 justify-content-center">
                                        <div class="d-flex justify-content-around border-bottom position-relative" style="width: 43%;right: 7%">
                                            <span class="mx-2">Duração</span>
                                            <span class="mx-2">Inscrição</span>
                                            <span class="mx-2"> Participantes</span>
                                            <span class="mx-2">Premiação</span>
                                        </div>
                                        <span class="cursor-pointer arena-orange-gradient-text position-absolute" style="right: 36.4%;">Ver
                      todos</span>
                                    </div>

                                    <!-- ANCHOR Card Todos torneios PC -->
                                    <div class="d-flex flex-column d-none d-lg-block tournament-card-container">
                                        <div class="card-item mb-2 align-self-center w-100">
                                            <div class="d-flex ms-3 card-tournament">
                                                <!-- ANCHOR Card Info Torneio -->
                                                <div class="card-tournament-info w-100 d-flex">
                                                    <div class="d-flex w-100">
                                                        <div class="w-50 mb-2">
                                                            <div>
                                                                <h3>TE Daily</h3>
                                                            </div>
                                                            <!-- Tags -->
                                                            <div class="d-flex my-2">
                                                                <span class="badge t-cripto">Cripto</span>
                                                            </div>
                                                        </div>
                                                        <!-- ANCHOR Flex Icones -->
                                                        <div class="d-flex w-100 align-items-center justify-content-between mx-5">

                                                            <div class="d-flex flex-column align-items-center me-2">
                                                                <i class="material-icons card-icon">timer</i>
                                                                <b>2 Dias</b>
                                                            </div>

                                                            <div class="d-flex flex-column align-items-center me-2">
                                                                <i class="material-icons card-icon">monetization_on</i>
                                                                <b>10,00</b>
                                                            </div>

                                                            <div class="d-flex flex-column align-items-center me-2">
                                                                <i class="material-icons card-icon">group</i>
                                                                <b>58/100</b>
                                                            </div>

                                                            <div class="flex-column d-flex align-items-center me-2">
                                                                <div style="margin: 8px 0px;" class="letter-card-small">
                                                                    A
                                                                </div>
                                                                <b>R$ 1.700*</b>
                                                            </div>


                                                        </div>
                                                    </div>
                                                    <!-- Info + botão -->
                                                    <div class="d-flex pc-card-info">
                                                        <div class=" me-5 d-flex flex-column ps-2 align-self-center" style="border-left: 1px solid #6F6F6F;">
                                                            <span><b>Saldo inicial: </b>R$ 5.000,00</span>
                                                            <span><b>Término: </b>21/09/2021 - 17:00</span>
                                                        </div>
                                                        <div class="d-flex flex-column align-items-center ms-2">
                                                            <a href="#" class="my-3 text-decoration-none text-white">+
                                Detalhes</a>
                                                            <button class="btn-arena-dark-blue rounded-3 border-0 p-4" style="color: white; width: max-content;background-color: #172272;">Participar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Mobile -->
                            <div class="d-lg-none">
                                <div class="d-flex mb-3">
                                    <div class="d-flex">
                                        <span class="cursor-pointer arena-orange-gradient-text fw-bold px-2">Em
                      andamento</span>
                                        <span class="border-start cursor-pointer px-2">Próximos</span>
                                    </div>
                                    <span class="cursor-pointer arena-orange-gradient-text ms-auto">Ver todos</span>
                                </div>
                                <!-- Cards torneios -->
                                <div class="d-flex flex-column flex-md-row tournament-card-container" style="overflow-y: scroll;">
                                    <div class="card-item me-3 mb-3 ww-sm-auto w-100">
                                        <!-- ANCHOR Card Tipo/participantes -->
                                        <div class="d-flex flex-column ms-3 card-tournament">
                                            <div class="d-flex w-100">
                                                <div class="t-cripto t-header rounded-top d-flex justify-content-center">
                                                    <span>Criptomoedas</span>
                                                </div>
                                            </div>
                                            <!-- ANCHOR Card Info Torneio -->
                                            <div class="card-tournament-info">
                                                <div class="d-flex">
                                                    <span>Arena Express</span>
                                                    <div class="ms-auto d-flex">
                                                        <i class="material-icons me-1">group</i>
                                                        <span>32/100</span>
                                                    </div>
                                                </div>
                                                <p>Liga: <b>Arena GoTrade</b></p>
                                                <!-- ANCHOR Flex Icones -->
                                                <div class="d-flex w-100" style="justify-content: space-around; padding: 14px 0px; border-top: 1px solid #74798C; border-bottom: 1px solid #74798C;">
                                                    <div class="flex-column d-flex align-items-center">
                                                        <span>Premio Máx</span>
                                                        <div style="margin: 8px 0px;" class="letter-card-small">A</div>
                                                        <b>R$ 1.700*</b>
                                                    </div>

                                                    <div class="d-flex flex-column align-items-center">
                                                        <span>Duração</span>
                                                        <i class="material-icons card-icon">timer</i>
                                                        <b>2 Dias</b>
                                                    </div>

                                                    <div class="d-flex flex-column align-items-center">
                                                        <span>Participantes</span>
                                                        <i class="material-icons card-icon">group</i>
                                                        <b>100</b>
                                                    </div>

                                                    <div class="d-flex flex-column align-items-center">
                                                        <span>Saldo ficticio</span>
                                                        <i class="material-icons card-icon">account_balance_wallet</i>
                                                        <b>T$ 5.000</b>
                                                    </div>
                                                </div>

                                                <span class="d-flex justify-content-center my-3 fw-bold arena-orange-text">Tabela
                          de
                          premiação</span>
                                                <!-- ANCHOR Flex Valor/Botões -->
                                                <div class="d-flex justify-content-between">
                                                    <!-- ANCHOR Valor -->
                                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                                        <p>Inscrição</p>
                                                        <!-- ANCHOR Flex icone moeda/valor -->
                                                        <div class="mb-3 d-flex">
                                                            <img class="me-1" src="../../assets/monetization_on.png" alt="">
                                                            <b>10,00</b>
                                                        </div>
                                                    </div>
                                                    <!-- ANCHOR Flex Botões -->
                                                    <div class="d-flex">
                                                        <button class="transparent-grey-button with-icon"><i class="material-icons">add</i>
                              Detalhes</button>
                                                        <button class="subscribe-button">Inscrever</button>
                                                    </div>
                                                </div>
                                                <!-- ANCHOR Flex time inicio/fim -->
                                                <div class="justify-content-around d-flex">
                                                    <div class="me-1 d-flex">
                                                        <i class="material-icons me-2">access_time</i>
                                                        <span class="arena-light-grey-text">Inicio: <b>21/09
                                09:00</b></span>
                                                    </div>

                                                    <div class="ms-1 d-flex">
                                                        <i class="material-icons me-2">access_time</i>
                                                        <span class="arena-light-grey-text">Término: <b>22/09
                                18:00</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- tab Ranking + Equipe -->
                <div [ngClass]="{'show active' : currentTab === 1}" class="tab-pane fade" id="ranking" role="tabpanel" aria-labelledby="ranking-tab">
                    <div class="rounded-3 arena-border p-2" style="border-top: 0 !important;">
                        <!-- PC Equipes -->
                        <div class="d-none d-lg-block">
                            <!-- Item -->
                            <div>
                                <div class="border-top border-bottom d-flex p-3 justify-content-between">
                                    <img class="img-100 me-3" src="https://cdn.nickbuilder.com.br/4fa81a8d-4d56-49be-85b6-f5d5d2ebfc21/img/Rectangle.png" alt="">
                                    <div>
                                        <h5 class="fw-bold">
                                            Investidores USP
                                        </h5>
                                        <p>Equipe dos alunos da faculdade USP, focados em mercado futuro.</p>
                                        <div class="d-flex">
                                            <span>Membros: 35</span>
                                            <span>Posição na liga: 3º Lugar</span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-between align-items-center">
                                        <p class="m-0">Você é membro dessa equipe</p>
                                        <button class="btn-arena-12black w-75 arena-border p-1 rounded-7" style="width: max-content;">Solicitar convite</button>
                                        <button (click)="currentTeam == 1 ? currentTeam = 0 : currentTeam = 1" class="btn-arena-12black w-75 arena-border p-1 rounded-7" style="width: max-content;">ver
                      desempenho</button>
                                    </div>
                                </div>
                                <!-- Equipe aberta -->
                                <div [ngClass]="{'d-none': currentTeam != 1}" class="d-none">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="text-align: center;">Membro</th>
                                                <th scope="col" style="text-align: center">Inscrições</th>
                                                <th scope=" col " style="text-align: center">Score</th>
                                                <th scope="col" style="text-align: center">Posição Interna</th>
                                                <th scope=" col " style="text-align: center">Posição Geral</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row" style="text-align: center">
                                                    <div class="d-flex align-items-center">
                                                        <img class="img-100 me-2" src="../../assets/user.png" alt="">
                                                        <div>
                                                            <p class="m-0">Gabriel Jardim</p>
                                                            <p class="m-0 text-size-s">gjardim1</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="text-align: center">32</td>
                                                <td style="text-align: center">+1250pts</td>
                                                <td style="text-align: center">1º Lugar</td>
                                                <td style="text-align: center">1º Lugar</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile -->
                        <div class="d-lg-none">
                            <div class="d-flex text-center flex-column justify-content-center align-items-center">
                                <h4 class="fw-center ww-75 p-2 border-bottom">Ranking da Liga</h4>
                                <div class="d-flex w-75 mt-3">
                                    <button class="btn-arena-12black arena-border w-50 mx-1 rounded-7">Geral</button>
                                    <button class="btn-arena-12black arena-border w-50 mx-1 rounded-7">Sub-ligas</button>
                                </div>
                                <!-- Podium -->
                                <div>
                                    <div class="mt-3">
                                        <i class="material-icons arena-orange-gradient-text" style="font-size: 4.5rem;">emoji_events</i>
                                        <p class="arena-grey-text">traderpro96</p>
                                    </div>
                                    <div class="d-flex justify-content-center w-100">
                                        <div>
                                            <i class="material-icons arena-silver-gradient-text mx-3" style="font-size: 4.5rem;">emoji_events</i>
                                            <p class="arena-grey-text">gjardim1</p>
                                        </div>
                                        <div>
                                            <i class="material-icons arena-bronze-gradient-text mx-3" style="font-size: 4.5rem;">emoji_events</i>
                                            <p class="arena-grey-text">alexalves</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Lista -->
                                <div class="w-100">
                                    <table class="arena-table w-100 text-center">
                                        <tr class="arena-grey-text">
                                            <td>4º</td>
                                            <td>Heitor Gabriel Nunes</td>
                                            <td class="arena-orange-text">+ 311,11</td>
                                        </tr>
                                        <tr class="arena-grey-text">
                                            <td>5º</td>
                                            <td>Griffin</td>
                                            <td class="arena-orange-text">+ 311,11</td>
                                        </tr>
                                        <tr class="arena-grey-text">
                                            <td>6º</td>
                                            <td>Swanson</td>
                                            <td class="arena-orange-text">+ 311,11</td>
                                        </tr>
                                        <tr class="arena-grey-text">
                                            <td>7º</td>
                                            <td>Brown</td>
                                            <td class="arena-orange-text">+ 311,11</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Aprenda -->
                <div class="tab-content" id="myTabContent">
                    <div [ngClass]="{'active show' : currentTab === 2}" class="tab-pane fade" id="learn" role="tabpanel" aria-labelledby="learn-tab">
                        <div class="rounded-3 arena-border p-2" style="border-top: 0 !important;">
                            <!-- Mobile -->
                            <div class="">
                                <div class="d-flex border-bottom pb-3 mb-3">
                                    <button class="btn-arena-12black arena-border w-50 mx-1 rounded-7">Tudo</button>
                                    <button class="btn-arena-12black arena-border w-50 mx-1 rounded-7">Ações</button>
                                    <button class="btn-arena-12black arena-border w-50 mx-1 rounded-7">Cripto</button>
                                    <button class="btn-arena-12black arena-border w-50 mx-1 rounded-7">FIIs</button>
                                </div>
                                <!-- Card conteudo -->
                                <div class="card-gradient d-lg-flex p-3 text-center text-lg-start mb-2 mb-sm-0 me-sm-2 w-100 mb-3" style="border: none !important">
                                    <img style="max-width: 100%;" class="image-100 rounded-10" src="../../assets/aprenda-1.png" alt="">
                                    <div class="d-flex flex-column ps-lg-4">
                                        <h6 class="my-3">Primeiros passos - Criptomoedas</h6>
                                        <p>Aprenda como iniciar no mercado de criptomoedas com profissionais renomados do mercado! São 16 horas de mentoria exclusiva e gratuita!</p>
                                        <button class="ms-4 btn-arena-12black arena-border w-50 ww-lg-25 me-lg-auto mx-1 rounded-7">Saiba
                      mais</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Flex PC -->
    <div class="ww-25 ms-2 d-none d-lg-block">
        <div class="arena-border w-100 card-gradient-black p-4 rounded-7" style="max-height: 13.4rem;">
            <div class="d-flex justify-content-between">
                <div class="text-center">
                    <img src=" ../../assets/user.png" alt=" ">
                    <h5 class="m-0 text-size-s">Gabriel Jardim</h5>
                    <span class="text-size-s">gjardim1</span>
                </div>
                <div class="text-center d-flex flex-column ms-2">
                    <span class="text-size-s">Gold</span>
                    <progress class="progress-bar-animated progress-bar rounded-pill" value="70" max="100"></progress>
                    <span class="text-size-s">650 / 900 pts</span>
                    <button class="btn-arena-12black mt-4 arena-border px-4 rounded-7">Medalhas</button>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="d-flex"><i class="material-icons arena-orange-gradient-text">emoji_events</i> 1º
            Lugar</span>
                </div>
                <div class="d-flex">
                    <div class="sub-card justify-content-around" style="min-width: 4rem; min-height: 4rem;">
                        <i class="material-icons-outlined">emoji_events</i>
                        <h5>3</h5>
                    </div>
                    <div class="sub-card justify-content-around" style="min-width: 4rem; min-height: 4rem">
                        <i class="material-icons-outlined">assignment_turned_in</i>
                        <h5>3</h5>
                    </div>
                    <div class="sub-card justify-content-around" style="min-width: 4rem; min-height: 4rem">
                        <i class="material-icons-outlined">assessment</i>
                        <h5>3</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-gradient-black arena-border rounded-7 mt-3" style="height: 70vh;">
            <div class="text-center">
                <h5 class="border-bottom fw-bold w-75 m-auto mb-3">Ranking da arena</h5>
                <div class="d-flex pb-3 mb-3">
                    <button class="btn-arena-grey arena-border w-50 mx-1 rounded-7">Geral</button>
                    <button class="btn-arena-grey arena-border w-50 mx-1 rounded-7">Equipes</button>
                </div>
                <div class="mt-3">
                    <i class="material-icons arena-orange-gradient-text" style="font-size: 4.5rem;">emoji_events</i>
                    <p class="arena-grey-text">traderpro96</p>
                </div>
                <div class="d-flex justify-content-around w-100">
                    <div>
                        <i class="material-icons arena-silver-gradient-text mx-3" style="font-size: 4.5rem;">emoji_events</i>
                        <p class="arena-grey-text">gjardim1</p>
                    </div>
                    <div>
                        <i class="material-icons arena-bronze-gradient-text mx-3" style="font-size: 4.5rem;">emoji_events</i>
                        <p class="arena-grey-text">alexalves</p>
                    </div>
                </div>
            </div>
            <!-- Lista -->
            <div class="w-100">
                <table class="arena-table w-100 text-center">
                    <tr class="arena-grey-text">
                        <td>4º</td>
                        <td>Heitor Gabriel Nunes</td>
                        <td class="arena-orange-text">+ 311,11</td>
                    </tr>
                    <tr class="arena-grey-text">
                        <td>5º</td>
                        <td>Griffin</td>
                        <td class="arena-orange-text">+ 311,11</td>
                    </tr>
                    <tr class="arena-grey-text">
                        <td>6º</td>
                        <td>Swanson</td>
                        <td class="arena-orange-text">+ 311,11</td>
                    </tr>
                    <tr class="arena-grey-text">
                        <td>7º</td>
                        <td>Brown</td>
                        <td class="arena-orange-text">+ 311,11</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</section>