<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<section>
    <!-- Card Topo -->
    <div class="card-gradient p-2 text-center mb-2">
        <h5 class="font-size-20 fw-bold">Gestão de Torneios</h5>
    </div>
    <!-- Card Topo 2 -->
    <div class="card-gradient p-3 text-center mb-2">
        <div class="d-flex">
            <!-- Sub cards -->
            <div>
                <div class="row">
                    <div class="col">
                        <span class="mb-3">Em andamento</span>
                        <div class="d-flex justify-content-center">
                            <div class="sub-card m-0 justify-content-around" style="width: 4rem; height: 4rem;">
                                <i class="material-icons-outlined">emoji_events</i>
                                <p>{{unfinishedTournaments?.length || 0}}</p>
                            </div>
                            <hr class="align-self-center" style="width: 15px;">
                            <div class="sub-card m-0 justify-content-around" style="width: 4rem; height: 4rem;">
                                <i class="material-icons-outlined">group</i>
                                <p>{{countUnfinished || 0}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-3 mt-md-0">
                        <span class="mb-3">Histórico</span>
                        <div class="d-flex justify-content-center">
                            <div class="sub-card m-0 justify-content-around" style="width: 4rem; height: 4rem;">
                                <i class="material-icons-outlined">emoji_events</i>
                                <p>{{finishedTournaments?.length || 0}}</p>
                            </div>
                            <hr class="align-self-center" style="width: 15px;">
                            <div class="sub-card m-0 justify-content-around" style="width: 4rem; height: 4rem;">
                                <i class="material-icons-outlined">group</i>
                                <p>{{countFinished || 0}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Botão criar torneio -->
            <div class="ms-auto align-self-center">
                <button class="btn-arena-grey arena-orange-gradient-background arena-border py-2 px-5 rounded">Criar
                    torneio</button>
            </div>
        </div>
    </div>

    <!-- Menu navegação | Filtro -->

    <div class="d-flex my-2 align-items-center justify-content-between">
        <!-- Botões navegação -->
        <div class="row">
            <div class="col">
                <div [class.selecionado]="menu == 0" (click)="menu = 0" class="sub-card m-0 justify-content-around py-3 cursor-pointer" style="min-height: unset; width: 11rem;">
                    <span>Em Andamento</span>
                </div>
            </div>
            <div class="col">
                <div [class.selecionado]="menu == 1" (click)="menu = 1" class="sub-card m-0 justify-content-around py-3 cursor-pointer" style="min-height: unset; width: 11rem;">
                    <span>Histórico</span>
                </div>
            </div>
        </div>
        <!-- Filtro -->
        <!-- <div class="row m-0">
            <div class="col">
                <div class="d-flex">
                    <span class="mx-2">Data:</span>
                    <div class="d-flex with-icon-start position-relative beta-mr-18">
                        <nick-date [nickCrudField]="form.date" placeholder="Escolha uma data">
                        </nick-date>
                        <span class="material-icons input-icon">today</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <input type="text">
            </div>
            <div class="col">
                <select name="" id=""></select>
            </div>
        </div> -->
    </div>

    <!-- Tabs -->

    <div class="tab-pane arena-border p-2 mb-2" style="min-height: 68vh;">
        <!-- Tab 1 -->
        <div *ngIf="menu == 0" name="Tab1">
            <!-- Tab 1 PC -->
            <div class="d-none d-lg-block">
                <ng-container *ngFor="let item of unfinishedTournaments" [ngTemplateOutlet]="em_andamento_pc" [ngTemplateOutletContext]="{item: item}"></ng-container>
            </div>
            <!-- Tab 1 Mobile -->
            <div class="d-lg-none">
                <ng-container *ngFor="let item of unfinishedTournaments" [ngTemplateOutlet]="em_andamento_mobile" [ngTemplateOutletContext]="{item: item}"></ng-container>
            </div>
        </div>

        <!-- Tab 2 -->
        <div *ngIf="menu == 1" name="Tab2">
            <!-- Tab 2 Pc -->
            <div class="d-none d-lg-block">
                <ng-container *ngFor="let item of finishedTournaments" [ngTemplateOutlet]="historico_pc" [ngTemplateOutletContext]="{item: item}"></ng-container>
            </div>
            <!-- Tab 2 Mobile -->
            <div class="d-lg-none">
                <ng-container *ngFor="let item of finishedTournaments" [ngTemplateOutlet]="historico_mobile" [ngTemplateOutletContext]="{item: item}"></ng-container>
            </div>
        </div>
    </div>

</section>



<!-- Templates -->

<!-- Template Tab 1 -->

<!-- PC -->
<ng-template let-item="item" #em_andamento_pc>
    <div class="card-item mb-2 align-self-center w-100 d-flex justify-content-center me-0">
        <div class="d-flex ms-3 card-tournament flex-column align-items-center" style="border: 0 !important; width: 100%;">
            <!-- ANCHOR Card Info Torneio -->
            <div class="card-tournament-info ww-90 ww-xl-100 d-flex mb-2 justify-content-center">
                <div class="d-flex ww-90 ww-90 ww-xl-100">
                    <div class="w-50 mb-2">
                        <div class="ellipsis" style="max-width: 200px">
                            <span>{{item?.name}}</span>
                        </div>
                        <!-- TODO Remover comentario <p style="font-size: 12px">Liga: <b>{{item?.owner?.firstName+' '+item?.owner?.lastName}}</b> 
                        </p> -->
                        <!-- Tags -->
                        <div class="d-flex">
                            <span class="badge t-cripto" *ngIf="item?.type == 0 ">Mini-Dólar</span>
                            <span class="badge t-cripto" *ngIf="item?.type == 1 ">Mini-Índice</span>
                            <span class="badge t-cripto" *ngIf="item?.type == 2 ">BITCOIN-USD</span>
                        </div>
                    </div>
                    <!-- ANCHOR Flex Icones -->
                    <div class="row w-100 align-items-center justify-content-between" style="padding: 0rem 3rem;">

                        <div class="col d-flex flex-column align-items-center me-2">
                            <i class="material-icons card-icon">monetization_on</i>
                            <b *ngIf="item?.inputAmount != 0">{{item?.inputAmount | currency:'BRL'}}</b>
                            <b *ngIf="item?.inputAmount == 0">--</b>
                        </div>

                        <div class="col d-flex flex-column align-items-center me-2">
                            <i class="material-icons card-icon">group</i>
                            <b>{{item.participants}}/{{item?.participantLimit}}</b>
                        </div>

                        <div class="col flex-column d-flex align-items-center me-2">
                            <div style="margin: 8px 0px; background-color: #37CA69" class="letter-card-small" *ngIf="item?.awardType==0">A</div>
                            <div style="margin: 8px 0px; background-color: #1EBCC5;" class="letter-card-small" *ngIf="item?.awardType==1">H</div>
                            <div style="margin: 8px 0px; background-color: #CD00FF" class="letter-card-small" *ngIf="item?.awardType==2">P</div>
                            <b *ngIf="item?.awardType != 2 && item?.prizeAmount != 0">{{item?.prizeAmount |
                                currency:'BRL'}}*</b>
                            <b *ngIf="item?.awardType == 2 && item?.prizeAmount != 0">{{item?.prizeAmount |
                                currency:'':'T$'}}*</b>
                            <b *ngIf="item?.prizeAmount == 0 && item?.awardType != 2">--</b>
                            <b *ngIf="item?.prizeAmount == 0 && item?.awardType == 2">--</b>
                            <b *ngIf="item?.awardType == 2">paid</b>
                        </div>

                        <div class="col d-flex flex-column align-items-center me-2">
                            <span class="badge py-2 px-2" style="background-color: #008033;">Em andamento</span>
                        </div>

                    </div>
                </div>
                <!-- Info + botão -->
                <div class="d-flex pc-card-info justify-content-end">
                    <div class=" me-5 d-flex flex-column ps-1 align-self-center ellipsis" style="border-left: 1px solid #6F6F6F;">
                        <span><b>Saldo inicial: </b>{{item?.openingBalance | currency: 'T$'}}</span>
                        <span><b>Início: </b>{{item?.startAt | date:'dd/MM - HH:mm'}}</span>
                        <span><b>Término: </b>{{item?.endAt | date:'dd/MM'}}</span>
                    </div>
                    <div class="d-flex align-items-center ms-2">
                        <div (click)="confirmDeleteModal(item?.id, deleteModal)" class="d-flex justify-content-center align-items-center me-2 cursor-pointer">
                            <i class="material-icons-outlined">delete</i>
                            <span>Excluir</span>
                        </div>
                        <button [routerLink]="['/tournament/detail/', item?.id]" class="arena-orange-gradient-background rounded-3 border-0 py-2 px-4" style="color: white; width: max-content;">Ver mais</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>
<!-- Mobbile -->
<ng-template let-item="item" #em_andamento_mobile>
    <div class="card-item mb-2 align-self-center w-100">
        <!-- ANCHOR Card Tipo/participantes -->
        <div *ngIf="(seeMoreItem?.id != item.id) && item?.external!=1 else cardTemplate" class="d-flex flex-column ms-3 card-tournament my-3 flex-column">
            <div class="d-flex w-100">
                <div class="t-cripto t-header rounded-top d-flex justify-content-center">
                    <span class="w-50 text-end align-self-center" *ngIf="item?.type == 0 ">Dólar</span>
                    <span class="w-50 text-end align-self-center" *ngIf="item?.type == 1 ">Índice</span>
                    <span class="w-50 text-end align-self-center" *ngIf="item?.type == 2 ">BITCOIN</span>
                    <div class="ms-auto d-flex me-2 align-items-center">
                        <i class="material-icons me-1">group</i>
                        <span>{{item?.participants}}/{{item?.participantLimit}}</span>
                    </div>
                </div>

            </div>
            <!-- ANCHOR Card Info Torneio -->
            <div class="card-tournament-info">
                <div class="d-flex mb-3" style="border-bottom: 1px solid #74798C;">
                    <div class="w-50">
                        <div class="ellipsis" style="max-width: 200px">
                            <span>{{item?.name}}</span>
                        </div>
                        <!-- TODO REMOVER COMENTARIO <p class="ellipsis" style="max-width: 150px">Liga:
                            <b>{{item?.owner?.firstName+' '+item?.owner?.lastName}}</b>
                        </p> -->
                    </div>
                    <!-- ANCHOR Flex Icones -->
                    <div class="d-flex w-50 justify-content-between mb-3 b-small" style="overflow-x: scroll;">
                        <div class="flex-column justify-content-between d-flex align-items-center me-2">
                            <div style="margin: 8px 0px;" class="letter-card-small" *ngIf="item?.awardType==0" style="background-color: #37CA69">A</div>
                            <div style="margin: 8px 0px;" class="letter-card-small" *ngIf="item?.awardType==1" style="background-color: #1EBCC5">H</div>
                            <div style="margin: 8px 0px;" class="letter-card-small" *ngIf="item?.awardType==2" style="background-color: #CD00FF">P</div>

                            <b *ngIf="item?.awardType != 2 && item?.prizeAmount != 0">R$ {{item?.prizeAmount}}*</b>
                            <b *ngIf="item?.awardType == 2 && item?.prizeAmount != 0">T$ {{item?.prizeAmount}}*</b>
                            <b *ngIf="item?.prizeAmount == 0 && item?.awardType != 2">R$ 0,00</b>
                            <b *ngIf="item?.prizeAmount == 0 && item?.awardType == 2">R$ 0</b>
                            <b *ngIf="item?.awardType == 2">paid</b>
                        </div>

                        <div class="d-flex justify-content-between flex-column align-items-center me-2 b-small">
                            <i class="material-icons card-icon-small">timer</i>
                            <b *ngIf="item?.durationH <= 24">{{item?.durationH>=10?item?.durationH:'0'+item?.durationH}}:{{item?.durationM>=10?item?.durationM:'0'+item?.durationM}}hs</b>
                            <b *ngIf="item?.durationH > 24">{{item?.durationDay>=10?item?.durationDay:'0'+item?.durationDay}}
                                D.{{item?.hoursDay>=10?item?.hoursDay:'0'+item?.hoursDay}}Hs.</b>
                        </div>

                        <!-- Removido a pedido do grabriel -->

                        <!-- <div class="d-flex justify-content-between flex-column align-items-center me-2 b-small">
                            <i class="material-icons card-icon-small">group</i>
                            <b>{{item?.participantLimit}}</b>
                        </div> -->

                        <div class="d-flex flex-column justify-content-between align-items-center me-2 b-small">
                            <img src="https://cdn.nickbuilder.com.br/4fa81a8d-4d56-49be-85b6-f5d5d2ebfc21/img/monetization_on.png" alt="">
                            <b *ngIf="item?.inputAmount != 0">{{item?.inputAmount}},00</b>
                            <b *ngIf="item?.inputAmount == 0">Gratuito</b>
                        </div>
                    </div>
                </div>
                <!-- ANCHOR Flex Valor/Botões -->
                <div class="d-flex justify-content-between">
                </div>
                <!-- ANCHOR Flex time inicio/fim -->
                <div class="justify-content-between d-flex">
                    <div class="me-1 d-flex align-items-center">
                        <i class="material-icons me-2">access_time</i>
                        <div class="d-flex flex-column">
                            <span *ngIf="item?.notToday" class="arena-light-grey-text">Início:
                                <b>{{item?.startAt|
                                    date:'dd/MM HH'}}:00</b></span>
                            <span *ngIf="!item?.notToday" class="arena-light-grey-text">Início:
                                <b>{{item?.startAt|
                                    date:'HH'}}:00</b></span>
                            <span *ngIf="item?.notToday" class="arena-light-grey-text">Término:
                                <b>{{item?.endAt|
                                    date:'dd/MM HH'}}:00</b></span>
                            <span *ngIf="!item?.notToday" class="arena-light-grey-text">Término:
                                <b>{{item?.endAt|
                                    date:'HH'}}:00</b></span>
                        </div>
                    </div>

                    <div class="ms-1 d-flex">
                        <button (click)="seeMoreItem = item" class="btn-arena-grey with-icon rounded-3 pe-3 border-0 px-2"><i
                                class="material-icons">add</i>Ver mais</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Template Tab 2 -->
<!-- PC -->
<ng-template let-item="item" #historico_pc>
    <div class="card-item mb-2 align-self-center w-100 d-flex justify-content-center me-0">
        <div class="d-flex ms-3 card-tournament flex-column align-items-center" style="border: 0 !important; width: 100%;">
            <!-- ANCHOR Card Info Torneio -->
            <div class="card-tournament-info ww-90 ww-xl-100 d-flex mb-2 justify-content-center">
                <div class="d-flex ww-90 ww-90 ww-xl-100">
                    <div class="w-50 mb-2">
                        <div class="ellipsis" style="max-width: 200px">
                            <span>{{item?.name}}</span>
                        </div>
                        <!-- TODO Remover comentario <p style="font-size: 12px">Liga: <b>{{item?.owner?.firstName+' '+item?.owner?.lastName}}</b> 
                        </p> -->
                        <!-- Tags -->
                        <div class="d-flex">
                            <span class="badge t-cripto" *ngIf="item?.type == 0 ">Mini-Dólar</span>
                            <span class="badge t-cripto" *ngIf="item?.type == 1 ">Mini-Índice</span>
                            <span class="badge t-cripto" *ngIf="item?.type == 2 ">BITCOIN-USD</span>
                        </div>
                    </div>
                    <!-- ANCHOR Flex Icones -->
                    <div class="row w-100 align-items-center justify-content-between" style="padding: 0rem 3rem;">

                        <div class="col d-flex flex-column align-items-center me-2">
                            <i class="material-icons card-icon">monetization_on</i>
                            <b *ngIf="item?.inputAmount != 0">{{item?.inputAmount | currency:'BRL'}}</b>
                            <b *ngIf="item?.inputAmount == 0">--</b>
                        </div>

                        <div class="col d-flex flex-column align-items-center me-2">
                            <i class="material-icons card-icon">group</i>
                            <b>{{item.participants}}/{{item?.participantLimit}}</b>
                        </div>

                        <div class="col flex-column d-flex align-items-center me-2">
                            <div style="margin: 8px 0px; background-color: #37CA69" class="letter-card-small" *ngIf="item?.awardType==0">A</div>
                            <div style="margin: 8px 0px; background-color: #1EBCC5;" class="letter-card-small" *ngIf="item?.awardType==1">H</div>
                            <div style="margin: 8px 0px; background-color: #CD00FF" class="letter-card-small" *ngIf="item?.awardType==2">P</div>
                            <b *ngIf="item?.awardType != 2 && item?.prizeAmount != 0">{{item?.prizeAmount |
                                currency:'BRL'}}*</b>
                            <b *ngIf="item?.awardType == 2 && item?.prizeAmount != 0">{{item?.prizeAmount |
                                currency:'':'T$'}}*</b>
                            <b *ngIf="item?.prizeAmount == 0 && item?.awardType != 2">--</b>
                            <b *ngIf="item?.prizeAmount == 0 && item?.awardType == 2">--</b>
                            <b *ngIf="item?.awardType == 2">paid</b>
                        </div>

                        <div class="col d-flex flex-column align-items-center me-2">
                            <i class="material-icons card-icon text-nowrap">request_page</i>
                            <b>--</b>
                        </div>

                    </div>
                </div>
                <!-- Info + botão -->
                <div class="d-flex pc-card-info justify-content-end">
                    <div class=" me-5 d-flex flex-column ps-1 align-self-center ellipsis" style="border-left: 1px solid #6F6F6F;">
                        <span><b>Saldo inicial: </b>{{item?.openingBalance | currency: 'T$'}}</span>
                        <span><b>Início: </b>{{item?.startAt | date:'dd/MM - HH:mm'}}</span>
                        <span><b>Término: </b>{{item?.endAt | date:'dd/MM'}}</span>
                    </div>
                    <div class="d-flex align-items-center ms-2">
                        <button [routerLink]="['/tournament/detail/', item?.id]" class="arena-orange-gradient-background rounded-3 border-0 py-2 px-4" style="color: white; width: max-content;">Ver mais</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>
<!-- Mobbile -->
<ng-template let-item="item" #historico_mobile>
    <div class="card-item mb-2 align-self-center w-100">
        <!-- ANCHOR Card Tipo/participantes -->
        <div *ngIf="(seeMoreItem?.id != item.id) && item?.external!=1 else cardTemplate" class="d-flex flex-column ms-3 card-tournament my-3 flex-column">
            <div class="d-flex w-100">
                <div class="t-cripto t-header rounded-top d-flex justify-content-center">
                    <span class="w-50 text-end align-self-center" *ngIf="item?.type == 0 ">Dólar</span>
                    <span class="w-50 text-end align-self-center" *ngIf="item?.type == 1 ">Índice</span>
                    <span class="w-50 text-end align-self-center" *ngIf="item?.type == 2 ">BITCOIN</span>
                    <div class="ms-auto d-flex me-2 align-items-center">
                        <i class="material-icons me-1">group</i>
                        <span>{{item?.participants}}/{{item?.participantLimit}}</span>
                    </div>
                </div>

            </div>
            <!-- ANCHOR Card Info Torneio -->
            <div class="card-tournament-info">
                <div class="d-flex mb-3" style="border-bottom: 1px solid #74798C;">
                    <div class="w-50">
                        <div class="ellipsis" style="max-width: 200px">
                            <span>{{item?.name}}</span>
                        </div>
                        <!-- TODO REMOVER COMENTARIO <p class="ellipsis" style="max-width: 150px">Liga:
                            <b>{{item?.owner?.firstName+' '+item?.owner?.lastName}}</b>
                        </p> -->
                    </div>
                    <!-- ANCHOR Flex Icones -->
                    <div class="d-flex w-50 justify-content-between mb-3 b-small" style="overflow-x: scroll;">
                        <div class="flex-column justify-content-between d-flex align-items-center me-2">
                            <div style="margin: 8px 0px;" class="letter-card-small" *ngIf="item?.awardType==0" style="background-color: #37CA69">A</div>
                            <div style="margin: 8px 0px;" class="letter-card-small" *ngIf="item?.awardType==1" style="background-color: #1EBCC5">H</div>
                            <div style="margin: 8px 0px;" class="letter-card-small" *ngIf="item?.awardType==2" style="background-color: #CD00FF">P</div>

                            <b *ngIf="item?.awardType != 2 && item?.prizeAmount != 0">R$ {{item?.prizeAmount}}*</b>
                            <b *ngIf="item?.awardType == 2 && item?.prizeAmount != 0">T$ {{item?.prizeAmount}}*</b>
                            <b *ngIf="item?.prizeAmount == 0 && item?.awardType != 2">R$ 0,00</b>
                            <b *ngIf="item?.prizeAmount == 0 && item?.awardType == 2">R$ 0</b>
                            <b *ngIf="item?.awardType == 2">paid</b>
                        </div>

                        <div class="d-flex justify-content-between flex-column align-items-center me-2 b-small">
                            <i class="material-icons card-icon-small">timer</i>
                            <b *ngIf="item?.durationH <= 24">{{item?.durationH>=10?item?.durationH:'0'+item?.durationH}}:{{item?.durationM>=10?item?.durationM:'0'+item?.durationM}}hs</b>
                            <b *ngIf="item?.durationH > 24">{{item?.durationDay>=10?item?.durationDay:'0'+item?.durationDay}}
                                D.{{item?.hoursDay>=10?item?.hoursDay:'0'+item?.hoursDay}}Hs.</b>
                        </div>

                        <!-- Removido a pedido do grabriel -->

                        <!-- <div class="d-flex justify-content-between flex-column align-items-center me-2 b-small">
                            <i class="material-icons card-icon-small">group</i>
                            <b>{{item?.participantLimit}}</b>
                        </div> -->

                        <div class="d-flex flex-column justify-content-between align-items-center me-2 b-small">
                            <img src="https://cdn.nickbuilder.com.br/4fa81a8d-4d56-49be-85b6-f5d5d2ebfc21/img/monetization_on.png" alt="">
                            <b *ngIf="item?.inputAmount != 0">{{item?.inputAmount}},00</b>
                            <b *ngIf="item?.inputAmount == 0">Gratuito</b>
                        </div>
                    </div>
                </div>
                <!-- ANCHOR Flex Valor/Botões -->
                <div class="d-flex justify-content-between">
                </div>
                <!-- ANCHOR Flex time inicio/fim -->
                <div class="justify-content-between d-flex">
                    <div class="me-1 d-flex align-items-center">
                        <i class="material-icons me-2">access_time</i>
                        <div class="d-flex flex-column">
                            <span *ngIf="item?.notToday" class="arena-light-grey-text">Início:
                                <b>{{item?.startAt|
                                    date:'dd/MM HH'}}:00</b></span>
                            <span *ngIf="!item?.notToday" class="arena-light-grey-text">Início:
                                <b>{{item?.startAt|
                                    date:'HH'}}:00</b></span>
                            <span *ngIf="item?.notToday" class="arena-light-grey-text">Término:
                                <b>{{item?.endAt|
                                    date:'dd/MM HH'}}:00</b></span>
                            <span *ngIf="!item?.notToday" class="arena-light-grey-text">Término:
                                <b>{{item?.endAt|
                                    date:'HH'}}:00</b></span>
                        </div>
                    </div>

                    <div class="ms-1 d-flex">
                        <button (click)="seeMoreItem = item" class="btn-arena-grey with-icon rounded-3 pe-3 border-0 px-2"><i
                                class="material-icons">add</i>Ver mais</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<!-- Expandir Template -->

<ng-template #cardTemplate>
    <div class="card-item me-3 ww-sm-auto w-100">
        <!-- ANCHOR Card Tipo/participantes -->
        <div class="d-flex flex-column ms-3 card-tournament" *ngIf="seeMoreItem?.external!=1">
            <div class="d-flex w-100">
                <div class="t-cripto t-header rounded-top d-flex justify-content-center">
                    <span *ngIf="seeMoreItem?.type == 0 ">Dólar</span>
                    <span *ngIf="seeMoreItem?.type == 1 ">Índice</span>
                    <span *ngIf="seeMoreItem?.type == 2 ">BITCOIN</span>
                </div>
            </div>
            <!-- ANCHOR Card Info Torneio -->
            <div class="card-tournament-info">
                <div class="d-flex">
                    <h5 class="me-2">{{seeMoreItem?.name}}</h5>
                    <div class="ms-auto d-flex">
                        <i class="material-icons me-1">group</i>
                        <span>{{seeMoreItem.participants}}/{{seeMoreItem?.participantLimit}}</span>
                    </div>
                </div>
                <!-- TODO REMOVER COMENTARIO <p style="font-size: 12px">Liga:
                    <b>{{seeMoreItem?.owner?.firstName+' '+seeMoreItem?.owner?.lastName}}</b>
                </p> -->
                <!-- ANCHOR Flex Icones -->
                <div class="d-flex w-100" style="justify-content: space-around; padding: 14px 0px; border-top: 1px solid #74798C; border-bottom: 1px solid #74798C;">
                    <div class="flex-column d-flex justify-content-between align-items-center">
                        <span>Premio Máx</span>
                        <div style="margin: 8px 0px;" class="letter-card-small" *ngIf="seeMoreItem?.awardType==0" style="background-color: #37CA69">A</div>
                        <div style="margin: 8px 0px;" class="letter-card-small" *ngIf="seeMoreItem?.awardType==1" style="background-color: #1EBCC5">H</div>
                        <div style="margin: 8px 0px;" class="letter-card-small" *ngIf="seeMoreItem?.awardType==2" style="background-color: #CD00FF">P</div>
                        <b *ngIf="seeMoreItem?.awardType != 2 && seeMoreItem?.prizeAmount != 0">{{seeMoreItem?.prizeAmount
                            | currency:'BRL'}}*</b>
                        <b *ngIf="seeMoreItem?.awardType == 2 && seeMoreItem?.prizeAmount != 0">{{seeMoreItem?.prizeAmount
                            | currency:'':'T$'}}*</b>
                        <b *ngIf="seeMoreItem?.prizeAmount == 0 && seeMoreItem?.awardType != 2">R$ 0</b>
                        <b *ngIf="seeMoreItem?.prizeAmount == 0 && seeMoreItem?.awardType == 2">R$ 0</b>
                        <b *ngIf="seeMoreItem?.awardType == 2">paid</b>
                    </div>

                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <span>Duração</span>
                        <i class="material-icons card-icon">timer</i>
                        <b *ngIf="seeMoreItem?.durationH <= 24" class="text-nowrap">{{seeMoreItem?.durationH>=10?seeMoreItem?.durationH:'0'+seeMoreItem?.durationH}}:
                            {{seeMoreItem?.durationM>=10?seeMoreItem?.durationM:'0'+seeMoreItem?.durationM}}hs</b>
                        <b *ngIf="seeMoreItem?.durationH > 24" class="text-nowrap">{{seeMoreItem?.durationDay>=10?seeMoreItem?.durationDay:'0'+seeMoreItem?.durationDay}}
                            Ds. {{seeMoreItem?.hoursDay>=10?seeMoreItem?.hoursDay:'0'+seeMoreItem?.hoursDay}}Hs.</b>
                    </div>

                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <span>Participantes</span>
                        <i class="material-icons card-icon">group</i>
                        <b>{{seeMoreItem?.participantLimit}}</b>
                    </div>

                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <span>Saldo ficticio</span>
                        <i class="material-icons card-icon">account_balance_wallet</i>
                        <b>T$ {{seeMoreItem?.openingBalance}}</b>
                    </div>
                </div>

                <span class="d-flex justify-content-center my-3 fw-bold arena-orange-text cursor-pointer" (click)="openModalTable({template: prizeTableAllIn, tournament:item})">Tabela de
                    premiação</span>
                <!-- ANCHOR Flex Valor/Botões -->
                <div class="d-flex justify-content-between">
                    <!-- ANCHOR Valor -->
                    <div class="row">
                        <p class="m-0 col">Inscrição</p>
                        <!-- ANCHOR Flex icone moeda/valor -->
                        <div class="col mb-3 d-flex">
                            <i class="material-icons arena-orange-gradient-text">monetization_on</i>
                            <br>
                            <b *ngIf="seeMoreItem?.inputAmount != 0">{{seeMoreItem?.inputAmount}},00</b>
                            <b *ngIf="seeMoreItem?.inputAmount == 0">Gratuito</b>
                        </div>
                    </div>
                    <!-- ANCHOR Flex Botões -->
                    <div class="d-flex">
                        <div class="d-flex justify-content-center align-items-center me-2 cursor-pointer">
                            <i class="material-icons-outlined">delete</i>
                            <span>Excluir</span>
                        </div>
                        <button class="transparent-grey-button with-icon mb-3" [routerLink]="['/tournament/detail/', seeMoreItem?.id]"><i class="material-icons">add</i>
                            Detalhes</button>
                        <button class="subscribe-button" *ngIf="seeMoreItem.inGameNow" (click)="openModal(confirmModal)" [disabled]="seeMoreItem.count>=seeMoreItem.participantLimit || seeMoreItem.inGameNow">Inscrito</button>
                    </div>

                    <ng-template #confirmModal>
                        <div class="modal-header text-center" style="display: block">
                            <div>
                                <h1 class="beta-mb-12 text-center fs-5">Confirmar inscrição</h1>
                                <br>
                                <span class="text-center" *ngIf="seeMoreItem?.inputAmount != 0">Confirmar a inscrição em
                                    <b style="color: #F08D19">{{seeMoreItem?.name}}</b> no valor de
                                    {{seeMoreItem?.inputAmount | currency:'BRL'}}?</span>
                                <span class="text-center" *ngIf="seeMoreItem?.inputAmount == 0">Confirmar a inscrição em
                                    <b style="color: #F08D19">{{seeMoreItem?.name}}</b>?</span>
                                <br>
                                <br>
                                <div *ngIf="seeMoreItem?.inputAmount != 0 || seeMoreItem?.name=='TESTE'">
                                    <span>Após confirmar, você poderá acessar o torneio pela página inicial ou pela aba
                                        <b style="color: #F08D19">Arena</b>.</span>
                                    <nick-input *ngIf="seeMoreItem?.name=='TESTE'" [nickCrudField]="tournamentForm.password" placeholder="Digite sua senha" type="password"></nick-input>
                                    <br>
                                    <span> Caso o valor de entrada seja maior que o valor disponível na sua carteira de
                                        cupons, será debitado o restante da sua carteira digital.</span>
                                    <br>
                                    <label style="margin-bottom: auto; color: white; margin-right: 20px;" class="pure-material-checkbox">
                                        <nick-checkbox [nickCrudField]="form.useCoupon" [options]="optionsCheckbox"
                                            [style]="1"></nick-checkbox>

                                    </label>
                                </div>

                                <div *ngIf="seeMoreItem?.inputAmount == 0">
                                    <span class="text-center">Você pode acessar o torneio na aba "<b
                                            style="color: #F08D19">Arena</b>" no menu lateral.</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="display: flex; justify-content: space-evenly;">
                            <a (click)="closeModal()" class="text-decoration-none" style="cursor: pointer; color: #F08D19">Cancelar </a>
                            <button class="btn-arena arena-orange-gradient-text bg-transparent arena-border p-2 rounded" (click)="closeModal()" (click)="participateTournament([noCreditAvailable, seeMoreItem, true])">Participar</button>
                        </div>
                    </ng-template>

                </div>
                <!-- ANCHOR Flex time inicio/fim -->
                <div class="justify-content-around d-flex flex-lg-row">
                    <div class="me-2 d-flex text-nowrap align-items-center">
                        <i class="material-icons me-2">access_time</i>
                        <span *ngIf="seeMoreItem?.notToday" class="arena-light-grey-text">Início:
                            <b>{{seeMoreItem?.startAt| date:'dd/MM HH'}}:00</b></span>
                        <span *ngIf="!seeMoreItem?.notToday" class="arena-light-grey-text">Início:
                            <b>{{seeMoreItem?.startAt| date:'HH'}}:00</b></span>
                    </div>

                    <div class="d-flex text-nowrap align-items-center">
                        <i class="material-icons me-2">access_time</i>
                        <span *ngIf="seeMoreItem?.notToday" class="arena-light-grey-text">Término:
                            <b>{{seeMoreItem?.endAt| date:'dd/MM HH'}}:00</b></span>
                        <span *ngIf="!seeMoreItem?.notToday" class="arena-light-grey-text">Término:
                            <b>{{seeMoreItem?.endAt| date:'HH'}}:00</b></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>

<!-- Modal deletar -->
<ng-template #deleteModal>
    <div>
        <span (click)="closeModal()" class="material-icons close-btn cursor-pointer" style="float: right">clear</span>
        <h1 class="beta-mb-12 font-size-20 text-center">Excluir o torneio?</h1>
        <br>
    </div>
    <div style="text-align: left; width: 500px;">
        <span style="text-align: center">
            O torneio será excluído e os usuários serão ressarcidos com o crédito ou saldo gasto.
            <!--strong class="color-orange-gradient" style="display: inline">{{form.tournamentName.value}}</strong-->
        </span>
        <br>
        <br>
        <div class="text-center">
            <a (click)="closeModal()" class="cancelTxt" style="cursor: pointer; color: #F08D19; display: inline-block">Cancelar</a>
            <button (click)="deactivateTournament()" class="btn-sell beta-ml-14" style="display: inline-block">Excluir Torneio</button>
        </div>
        <br>
    </div>
</ng-template>